.app-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.kedi-foto {
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.soru {
  font-size: 2rem;
  margin-bottom: 20px;
}

.butonlar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.evet {
  background-color: green;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.hayir {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tesekkur {
  color: #4CAF50;
  font-size: 2rem;
  margin-top: 20px;
}
